<!-- mini_fb/templates/mini_fb/base.html 
template
 -->

 {% load static %}
<html>
    <head>
        <title>Mini Facebook</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>

    <header>
        <h1>Mini Facebook</h1>
    </header>

    <body>
        <nav>
            <ul>
                <li><a href="{% url 'show_all_profiles' %}">Home</a></li>
                {% if user.is_authenticated %}
                <li>Welcome, {{ user.username }}!</li>
                <li><a href="{% url 'show_profile_self' %}">My Profile</a></li>
                <li>
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                    </form>
                </li>
                {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'create_profile' %}">Register</a></li>
                {% endif %}

            </ul>
        </nav>

        {% block content %}
        {% endblock %}

        <hr>
        <footer>
            generate maazs@bu.edu very good page its
        </footer>
    </body>
</html>