{% extends 'mini_fb/base.html' %}

{% block content %}
<div class="fb_page">
    <h2>Post a Status Message for the name that is you a re which si this one {{ profile.firstname }} {{ profile.lastname }}</h2>

    <form method="POST" action="{% url 'create_status' profile.pk %}" enctype="multipart/form-data">

        {% csrf_token %}
        {{ form.as_p }}
        <p>
            <label for="id_files">Select Image(s):</label>
            <input type="file" name="files" id="id_files" multiple />
        </p>
        <button type="submit">Post stauts now you will post it</button>
    </form>
    <br>

    <p><button><a href="{% url 'show_profile' profile.pk %}">Back to Profile</a></button></p>
</div>
{% endblock %}