{% extends 'mini_fb/base.html' %}

{% block content %}
<div class="fb_page">

    <div class="profile-title">
        <h2>{{ profile.firstname }} {{ profile.lastname }}</h2>
        <img src="{{ profile.image_url }}" alt="Profile Image" width="200">
    </div>
    <div class="profile-info">
        <ul>
            <li><strong>Name:</strong> {{ profile.firstname }} {{ profile.lastname }}</li>
            <li><strong>City:</strong> {{ profile.city }}</li>
            <li><strong>Email:</strong> {{ profile.email }}</li>
        </ul>
        <p><button><a href="{% url 'show_all_profiles' %}">Back to All Profilessss</a></button></p>
    </div>
</div>
{% endblock %}
