<!-- mini_fb/templates/mini_fb/show_all_profiles.html
 Show a response to the form submission. -->

{% extends 'mini_fb/base.html' %}

{% block content %}
<div class="fb_table">
    <h2>All Profiles</h2>
    <table>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>City</th>
        </tr>
        {% for profile in profiles %}
        <tr>
            <td>
                <a href="{% url 'show_profile' profile.pk %}">
                    <img src="{{ profile.image_url }}" alt="Profile Image goe here" width="100">
                </a>
            </td>
            <td>
                <a href="{% url 'show_profile' profile.pk %}">
                    {{ profile.firstname }} {{ profile.lastname }}
                </a>
            </td>
            <td>{{ profile.city }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
